[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
easygui = "*"
guizero = "*"
pylint = "*"
tkinter = "*"
pytest = "*"

[packages]
guizero = "*"

[requires]
python_version = "3.6"
